.opa:checked ~ img {
    opacity: 0.5;
}
.visibi:checked ~ img {
    visibility: hidden;
}
.dis:checked ~ img {
    display: none;
}
body{
    background-image: url(https://symbols.vn/wp-content/uploads/2022/01/Hinh-Anime-cac-nhan-vat-Naruto-ngau-loi.png);
    color : white;
}
img {
    transition : 1.5s;
}
p span {
    color : yellow;
    font-weight : bold;
}
ul > li {
    color : red;
    font-size : 20px;
}
div.test > h6 {
    color: red;
}